.phoneDiv{
    position: relative;
    border: 1px solid transparent;
}
.phoneInput{
    width: 95%;
    text-align: right;
    padding-right: 15px;
    height: 40px;
    font-size: 20px;
    outline-color: blue;
    margin-top: 8px;
    border: 1px solid lightgray;
}
.phoneInput:focus::placeholder{
    color: transparent;
}
.phoneLabel{
    display: none;
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 15px;
    background-color: white;
    padding: 0px 5px;
}
.phoneInput:focus ~ .phoneLabel{
    display: block;
    color: blue;
}
.phoneSelect{
    position: absolute;
    top: 20px;
    left: 5px;
    border: none;
    border-right: 2px solid lightgray;
    font-size: 15px;
    outline: none;
    -webkit-appearance: none;
    padding-right: 5px;
    cursor: pointer;
    color: gray;
}
.warning{
    color: white;
    font-size: 13px;
    direction: rtl;
    margin-top: 2px;
    font-weight: 100;
}